---
http_interactions:
- request:
    method: get
    uri: http://www.afdc.energy.gov/locator/stations/results?ev_connectors%5B%5D=CHADEMO&ev_connectors%5B%5D=J1772&ev_connectors%5B%5D=J1772COMBO&ev_connectors%5B%5D=NEMA1450&ev_connectors%5B%5D=NEMA515&ev_connectors%5B%5D=NEMA520&ev_connectors%5B%5D=TESLA&ev_connectors%5B%5D=all&ev_connectors%5B%5D=none&ev_levels%5B%5D=1&ev_levels%5B%5D=2&ev_levels%5B%5D=dc_fast&ev_levels%5B%5D=none&ev_networks%5B%5D=AeroVironment%20Network&ev_networks%5B%5D=Blink%20Network&ev_networks%5B%5D=ChargePoint%20Network&ev_networks%5B%5D=EV%20Connect&ev_networks%5B%5D=GE%20WattStation&ev_networks%5B%5D=Greenlots&ev_networks%5B%5D=OpConnect&ev_networks%5B%5D=SemaCharge%20Network&ev_networks%5B%5D=Tesla&ev_networks%5B%5D=all&ev_networks%5B%5D=eVgo%20Network&ev_networks%5B%5D=none&format=json&fuel=ELEC&location=80203&owner=all&planned=false&private=false&radius=false&radius_miles=6&utf8=%E2%9C%93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"441c6fa8068968549e317cefa9be15b6"
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.731179,"longitude":-104.982637,"precision":{"types":["postal_code"],"name":"postal_code","value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":15940,"station_counts":{"total":42579,"fuels":{"E85":{"total":0},"ELEC":{"total":42579,"stations":{"total":15940}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":66897,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UDR","station_phone":"888-758-4389","updated_at":"2017-05-17T08:37:17Z","geocode_status":"GPS","latitude":39.7300224,"longitude":-104.9883424,"city":"Denver","intersection_directions":"816
        ACOMA 1; For residents only - 5th Floor","plus4":null,"state":"CO","street_address":"800
        Acoma St","zip":"80204","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:118249"]},"distance":0.31422,"fuel_name":"Electric","fuels":["ELEC"],"payments":[],"payment_description":"","intersection_directions_html":"816
        ACOMA 1; For residents only - 5th Floor","access":"Public","linked_phone_html":"<a
        href=\"tel:888-758-4389\" itemprop=\"telephone\">888-758-4389</a>","ev_levels":["level2"],"ev_level_descriptions":"Level
        2","ev_connector_types_description":"J1772","ng_fill_type_name":null,"ng_psi_description":"","ng_vehicle_class_description":null,"has_lpg_primary":false,"lpg_primary_description":null,"has_e85_blender_pump":false,"e85_blender_pump_description":null,"month_last_confirmed":"May
        2017","has_biodiesel":false,"has_cng":false,"has_e85":false,"has_electricity":true,"has_hydrogen":false,"has_lng":false,"has_lpg":false,"place_link":"/locator/stations/places/66897","edit_link":"/locator/stations/places/66897/edit","nearby_link":"/locator/stations/results?fuel_type=ELEC&location=39.7300224%2C-104.9883424+%28800+Acoma+St%2C+Denver%2C+Denver+80204%29","google_api_key":"AIzaSyBSwt5uXNul6pdmlo40xB1CsPc7BLO7jvY","result_index":0,"result_index_letter":"A","distance_description":"0.31
        mi"},{"access_days_time":"Garage business hours; pay lot","cards_accepted":null,"date_last_confirmed":"2016-11-02","expected_date":null,"fuel_type_code":"ELEC","id":50065,"groups_with_access_code":"Public","open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Cultural Center Complex Garage","station_phone":"303-640-1096","updated_at":"2017-01-18T01:27:23Z","geocode_status":"200-8","latitude":39.735271,"longitude":-104.9885199,"ci[...]
